


<div class="card" *ngIf="state" [@zoomInUpOnEnter] [@zoomOutUpOnLeave]>
  <div class="row">
   <form [formGroup]="form">
    <div class="col-12">
      <mat-form-field appearance="legacy">
        <mat-label>add your email</mat-label>
        <input matInput
        placeholder="pat@example.com"
        formControlName="email">
        <mat-icon matSuffix>perm_identity</mat-icon>
        <mat-error>{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      </div>
    <div class="col-12">
      <mat-form-field appearance="legacy">
        <mat-label>set your password</mat-label>
        <input matInput
        placeholder="password"
        formControlName="password">
        <mat-icon matSuffix>vpn_key</mat-icon>
        <mat-error>{{getpassworderror()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field appearance="legacy">
        <mat-label>set your username</mat-label>
        <input matInput
         placeholder="Mohammad"
         formControlName="username">
         <mat-icon matSuffix>perm_identity</mat-icon>
        <mat-error>{{getusenameerror()}}</mat-error>
      </mat-form-field>
    </div>
   </form>

</div>
 <div class="row">
    <button mat-button (click)="login()">SignIn</button>
    <button mat-button [disabled]="form.invalid" (click)="submit()">SignUp</button>
 </div>
</div>
