

@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

html,body,app-root
{
  display: block;
  height: 100%;

}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
    ::-webkit-scrollbar
    {
      width:12px;
      cursor:pointer
    }
    ::-webkit-scrollbar-track
    {
      color: gray;

    }
    ::-webkit-scrollbar-thumb
    {

      color: darkgray;
      border-radius: 5px;
      z-index: 999;
    }

